.clicked {
    background-color: #363f45 !important;
}

.catNameWhite{
    color: white !important;
}


// .toolip {
//     position: absolute;

//     background-color: black;
//     // display: flex;
//     // flex-flow: column nowrap;
//     // align-items: flex-start;
//     // justify-content: center;
//     // position: relative;
//     // min-width: 86px;
//     // cursor: pointer;
//     // font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
//     // font-weight: 600;
//     // font-size: 12px;
//     // line-height: 18px;
//     // height: 44px;
//     // margin-bottom: 10px;
//     // margin-right: 4px;
//     // padding: 0 15px;
//     // color: #192024;
//     // background-color: #fff;
//     // border: 1px solid #9ba8b0;
//     // border-radius: 4px;
//     // transition: color .2s ease-out,background-color .2s ease-out;
//     // top: 0;
//     transform: translateX(-50%);
//     border-radius: 7px;
//     border: 15px solid;
//     border-color: #000 #0000 #0000 #0000;
//     top: -100%;

//     z-index: 777;
// }

// .catAndToolip{
//     position: relative;
// }







/* Tooltip container */
// .catAndToolip {
//     position: relative;
//     // display: inline-block;
//     // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
//   }
  
//   /* Tooltip text */
//   .tooltip .tooltiptext {
//     // visibility: hidden;
//     width: 80px;
//     height: 60px;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     // padding: 5px 0;
//     border-radius: 6px;
//     left: 50%;
//     top: -60%;
//     transform: translate(-50%,-50%);

//     // left: auto;
// //    top: -50%;
//     /* Position the tooltip text - see examples below! */
//     position: absolute;
//     z-index: 999;


//     display: flex;
//     justify-content: center;
//     align-items: center;


//     border-width: 5px;
//   border-style: solid;
//   border-color: black transparent transparent transparent;
//   }




//   .tooltip::after {
//     position: absolute;

//     left: 50%;
//     // top: -890;
//     transform: translate(-50%,-50%);
//     content: "";
//     width: 18;
//     height: 18;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     border-top: 7px solid rgba(0,0,0, .7);
//     z-index: 10000;
//   }
  
 














// Tooltip





[data-tooltip] {
    position: relative;
    cursor: pointer;
  }
  [data-tooltip]:before,
  [data-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
  }
  [data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
  }
  [data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 200px;

    width: 80px;
    // height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 8px;
    border-radius: 3px;
    background: #1f282d;
    color: #FFFFFF;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    display: block;
    opacity: 1;
    // margin-top: 80px;
    bottom: 0;
  }
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #1f282d;
    // can be here
  }
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
  }
  [data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::before,
  [data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
            transform: translate(-50%, -4px);
  }
  [data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #1f282d;
  }
  [data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
  }
  [data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
            transform: translate(-50%, 8px);
  }
  [data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #1f282d;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #1f282d;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
  }
  [data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
  }
  [data-tooltip=""]::after, [data-tooltip=""]::before {
    display: none !important;
  }
  