.categoryFilter {
    display: flex;
    flex-direction: column;
    margin-left: 50px;



    .carType{
        margin-bottom: 20px;
    }

    .filter {
        display: flex;
    
        .category {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            // font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
            font-weight: 600;
            font-size: 12px;
            height: 56px;
            min-height: 100%;
            margin-bottom: 10px;
            margin-right: 4px;
            padding: 0 15px;
            color: #192024;
            background-color: #fff;
            border: 1px solid #9ba8b0;
            border-radius: 4px;
            transition: color .2s ease-out,background-color .2s ease-out;


        &:hover {
            border: 1px solid #383838;
        }


            .catContent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                

                .catName {
                    // font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 0 20px;
                } 
            }
        }




        .dropdown{
            display: flex;
            cursor: pointer;
            // font-family: 'TT Hoves Variable',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
            font-weight: 600;
            font-size: 12px;
            height: 56px;
            min-height: 100%;
            margin-bottom: 10px;
            margin-right: 4px;
            padding: 0 15px;
            color: #192024;
            background-color: #fff;
            border: 1px solid #9ba8b0;
            border-radius: 4px;
            transition: color .2s ease-out,background-color .2s ease-out;
            width: 60px;
        
            &:hover {
                border: 1px solid #383838;
              }


                .dropContent {
                    display: flex;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 100%;


                    .dropMore{
                        font-weight: 600;
                        font-size: 14px;
                    }


                    .arrow {
                        width: 21px;
                        height: 21px;
                    }
                }
        }



    img {
        width: 56px;
        height: 44px;
    }


    }
}




h1{
    margin-left: 50px;
}
